
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.literature-title{
    max-width: 97%;
    margin-top: 30%;
}

.literature-title > h1{
    font-size: 70px;
    text-align: start;
    margin: 0;
    padding: 0;
    margin-left: 3%;
    font-weight: 1000;
    
}

.literature-title  > h2{
    font-size: 50px;
    text-align: start;
    margin-bottom: 50px;
    margin-left: 3%;
    font-weight: 900;
}

.literature-title  >  h2 > span{
    color: var(--primary);
    font-size: 50px;
    text-align: start;
    font-weight: 900;
}


.literature-title  > p{
    
}

.maestro-izquierda{
    background-color: transparent;

}


.literature-container{
    display: flex;
    flex-wrap:nowrap;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    width: 100%;
    height: auto;
    text-align: center;
}

.literature-description{
    font-family: "Lato", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 15px;
    color: var(--quaternary);
}

.maestro-derecha >img{
    min-width: 494px;
    max-width: 80vw;
    max-height: 843px;
    margin: 0;
}

  .blogLiterature__text{
        margin-top: 50px;
        margin-bottom: 50px;
        text-align: justify;
        text-wrap: pretty;
        font-weight: 300;
        font-size: 1.5em;
        margin-left: 3%;
  }

  .literature__textquote{
    font-size: 2em;
    font-weight: 400;
    padding-bottom: 5%; 
    padding-top: 5%; 
    width: 90%;
  }

  .literature__textquote b{
    font-size: 1.2em;
  }


  @media (max-width:860px){
    .literature-container{
        flex-wrap:wrap;
    }
    .maestro-derecha >img{
        min-width: 250px;
        max-width: 320px;
        max-height: 843px;
        margin: 0;
    }
    h2, h2.MyHistoryList__text, .literature-title > h2, .literature-title > h2 > span{
        font-size: 2rem !important;
    }
    h1, h1.MyHistoryList__text, .literature-title > h1{
        font-size: 4rem !important; 
    }
  }