.Notification{
    display: flex;
    flex-direction: column;
    margin-top: 100px;
    width: 100vw;
    overflow: hidden;
}

@media screen and (max-width: 768px) {
    .Notification{
        margin-top: 45%;
    }
}