div.NavbarItems{
    display:flex;
    margin: 0;
    padding: 0;
    width: 200px;
    height: 50px;
    background-color: var(--secondary);
    align-items: center;
    justify-content: center ;
    cursor: pointer;
}

a > div.NavbarItems{
    color: var(--text);
}

.NavbarItems__icon{
    margin-top: 5px;
    margin-right: 5px;
}

.NavbarItems__text{
    letter-spacing: 0.1em;
    font-weight: 600;
}


@media screen and (max-width: 768px) {
    div.NavbarItems{
        width: 120px;
    }
    .NavbarItems__text{
        font-size: 0.7rem;
    }
}