.fade-in {
    opacity: 0;
    transform: translateY(50px);
    transition: opacity 2s ease-out, transform 3s ease-out;
  }
  
  .fade-in.visible {
    opacity: 1;
    transform: translateY(0);
  }
  